<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imaginary Place</title>
</head>
<body>
    <H1>Adding a new place or person.</H1>
    <form action="/sending" method="post">
        <label for="author">Type author name</label>
        <input type="text" name="author">

        <label for="description">Add a short description</label>
        <input type="text" name="description">

        <label for="history">Now, release your imagination</label>
        <textarea name="history" ></textarea>

        <input type="submit" value="Send">
    </form>
</body>
</html>